:root {
    --background-color: 236;
    --text-color: 55;
    --accent-color: 200;
    --width: 80ch;
    --padding: 0;

    --font-family: "Iosekva Aile Iaso", sans-serif;
    --header-font-family: "Iosekva Etoile Iaso", serif;
    --pre-font-family: "Iosekva Curly Iaso", monospace;
}
