@import url("https://cdn.xeiaso.net/static/css/iosevka/family.css");

:root {
    --background-color: 0;
    --text-color: 43;
    --accent-color: 344;
    --width: 80ch;
    --padding: 0;
    
    --font-family: "Iosevka Aile Iaso", sans-serif;
    --header-font-family: "Iosevka Etoile Iaso", serif;
    --pre-font-family: "Iosevka Curly Iaso", monospace;
}
