:root {
    --background-color: 38;
    --text-color: 35;
    --accent-color: 10;
    --width: 80ch;
    --padding: 0;
    
    --font-family "Iosekva Aile Iaso", sans-serif;
    --header-font-family "Iosekva Etoile Iaso", serif;
    --pre-font-family "Iosekva Curly Iaso", monospace;
}
